#mainform{
    margin:0px auto;
    padding-top: 200px;
    border: 1px;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

#mainTitle{
    font-size: 50px;
    animation-name: fontSize_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes fontSize_animation {
    0%   {font-size: 20px;}
    50%  {font-size: 30px;}
    100% {font-size: 20px;}
  }

